#box{
    height:50px;
    width: 50px;
    left:0;
    right:0;
    bottom:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    position: fixed;

}
#box .inner,#bg{
    text-align: center;
    line-height: 50px;
    width: 100%;
    height:100%;
    border-radius: 50%;
    top:0;
    left:0;
    position: absolute;
}
#box .inner div{
    color:white;
    font-size:12px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height:100%;
    border-radius: 50%;
    top:0;
    left:0;
    position: absolute;
    background: black;
}
#box #bg{
    transition-duration: 1s;
    z-index: 96;
    background: pink;

}